.root { height: 20px; display: inline-flex; align-items: center; gap: 2px; vertical-align: middle; font-weight: 500; line-height: 20px; }
.root svg { flex: none; display: block; width: 14px; height: 14px; font-size: 14px; }
